

.navbar {
  margin : auto;
  padding-left : 20px;
  justify-content: space-around;
  position: fixed;
  top : -10px;

}

body {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  /* background-color: #5E60CE; */
  
  
}
.header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: center auto
}



.App-link {
  color: #61dafb;
}
.lana{
  height: 300px;
  width: 300px;
}
.kali{
  height: 300px;
  width: 300px;
}
footer{
  display: flex;
  flex-direction: row;
}
.github{
  height: 50px;
  width: 50px;
}
.logo{
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.homePics{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-bottom: 30px;
}
.addSong{
  display: flex;
  justify-content: center;
}
button{
  background-color: #80FFDB;
  border-radius: 12px;
  font-size: 20px;
  border: none;
  color: #7400B8;
  font-family: Arial;
  
}

h1{
  color:azure
}
.spotlight{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}
.texts{
  overflow: auto;
  border: 1px solid;
  border-radius: 12px;
  padding-top: 5px;
  margin-right: 5px;;
}
.tash{
  border-radius: 12px;
}