

.navbar {
  margin : auto;
  padding-left : 20px;
  justify-content: space-around;
  position: fixed;
  top : -10px;

}

body {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  background-color: #5E60CE
  
}
.header{
  display: flex;
  justify-content: center;
}



.App-link {
  color: #61dafb;
}
.lana{
  height: 300px;
  width: 300px;
}
.kali{
  height: 300px;
  width: 300px;
}
.github{
  height: 100px;
  width: 100px;
}
.homePics{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-bottom: 30px;
}
.addSong{
  display: flex;
  justify-content: center;
}
button{
  background-color: #80FFDB;
  border-radius: 12px;
  font-size: 20px;
  border: none;
  color: #7400B8;
  font-family: Arial;
}