@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,500&display=swap');

.navbar {
  margin : auto;
  padding-left : 20px;
  justify-content: space-around;
  position: fixed;
  top : -10px;
  

}


body {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  
}
.header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: center auto;
  font-family: 'Roboto Mono', monospace;
}



.App-link {
  color: #61dafb;
}
.lana{
  height: 300px;
  width: 300px;
}
.kali{
  height: 300px;
  width: 300px;
}
footer{
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 30px;
}
.github{
  height: 50px;
  width: 50px;
}
.logo{
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.homePics{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-bottom: 30px;
}
.addSong{
  display: flex;
  justify-content: center;
  
}
button{
  background-color: #80FFDB;
  border-radius: 12px;
  font-size: 20px;
  border: none;
  color: #7400B8;
  font-family: 'Roboto Mono', monospace;
  
}

h1{
  color:azure
}
.spotlight{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}
.texts{
  overflow: auto;
  border: 1px solid;
  border-radius: 12px;
  padding-top: 5px;
  margin-right: 5px;;
}
.tash{
  border-radius: 12px;
}

.playMusic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width:500px) {

  h2{ 
    display: none;
  }
  .homePics{
    display: none;
  }
  .playMusic {
    display: none;
  }
  .spotlight{
    display: none;
  }
  .spotlightTitle{
    display: none;
  }

}